<%= form_for(@advertisment) do |f| %>
  <% if @advertisment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advertisment.errors.count, "error") %> prohibited this advertisment from being saved:</h2>

      <ul>
      <% @advertisment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :descritption %><br />
    <%= f.text_area :descritption %>
  </div>
  <div class="field">
    <%= f.label :image_path %><br />
    <%= f.text_field :image_path %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
