<html>
<body>
	<h1>Cardiovascular Training Equipment</h1>
	<table>

	<td><p><%=link_to "Home", home_welcome_path%></p></td>  
	<td><p><%=link_to "Weight Training Equipment", home_weight_path%></p></td>
	<td><p><%=link_to "Cardiovascular Training Equipment", home_cardio_path%></p></td> 
	<td><p><%=link_to "Personal Training", home_personal_path%></p></td> 
	<td><p><%=link_to "Nutrition", home_nutrition_path%></p></td> 
	<td><p><%=link_to "Contact Us", home_contact_path%></p></td>  
	


	</table>
	
	
	<p>Choose from the great selection of cardiovascular training equipment and when you are ready to purchase please call this number: 708-307-6995</p>
	
	<table>
	<tr>
	
	<td><%=image_tag("cardio1.jpg")%>
	<p>Elliptical</p>
	<p>This machine is a great for an all around cardio workout.</p></td>
	<td><%=image_tag("cardio2.jpg")%>
	<p>Hybrid Elliptical</p>
	<p>This machine incorporates a tredmill and an elliptical for a greater workout.</p></td>
	</tr>
	<tr>
	<td><%=image_tag("cardio3.jpg")%>
	<p>Bike</p>
	<p>This machine is a classic for a great cardio workout</p></td>
	<td><%=image_tag("cardio4.jpg")%>
	<p>Tredmill</p>
	<p>This machine is great for a working on your cardiovascular health</p></td>
	</tr>
	</table>
</body>
</html>
	